img{
    height: 700px;
    width: 770px;
  }

#myheader{
    text-align: center;
    padding: 20px;
    background-color: aqua;
} 
#myparagraph{
    text-align: justify;
    font-size:  26px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bolder;

}
#title{

    text-decoration: underline;
}
#mysecondheader{

   padding: 20px;
    text-align: center;
}

#contentdiv{

    background-color: lightseagreen;
    padding:10px;
    margin-top: 40px;
}
